.mailRegisterButton :hover{
    background: #f40612;
}
.mailRegisterButton{
    display: inline;
}
.mailRegisterButton > button > span{
    -webkit-user-select: none;
    color: rgb(255, 255, 255);
    cursor: pointer;
    direction: ltr;
    display: block;
    flex-basis: auto;
    flex-grow: 1;
    flex-shrink: 1;
    font-family: "Netflix Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 30px;
    font-stretch: normal;
    font-style: normal;
    font-variant-caps: normal;
    font-weight: 400;
    height: 38px;
    letter-spacing: normal;
    line-height: normal;
    padding-bottom: 8px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 8px;
    text-align: center;
    text-indent: 0px;
    text-shadow: none;
    text-transform: none;
    width: 126.21875px;
    word-spacing: 0px;
    writing-mode: horizontal-tb;
}
.mailRegister > input {
    -webkit-rtl-ordering: logical;
    -webkit-user-select: text;
    appearance: none;
    background-color: rgb(255, 255, 255);
    border-bottom-color: rgb(140, 140, 140);
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 0px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-image-outset: 0;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
    border-left-color: rgb(140, 140, 140);
    border-left-style: solid;
    border-left-width: 1px;
    border-right-color: rgb(140, 140, 140);
    border-right-style: solid;
    border-right-width: 1px;
    border-top-color: rgb(140, 140, 140);
    border-top-left-radius: 2px;
    border-top-right-radius: 0px;
    border-top-style: solid;
    border-top-width: 1px;
    box-shadow: none;
    box-sizing: border-box;
    color: rgb(0, 0, 0);
    cursor: auto;
    direction: ltr;
    font-family: "Netflix Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-stretch: normal;
    font-style: normal;
    font-variant-caps: normal;
    font-weight: 400;
    height: 70px;
    letter-spacing: normal;
    line-height: normal;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    min-width: 500px;
    padding-bottom: 0px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    text-align: start;
    text-indent: 0px;
    text-shadow: none;
    text-transform: none;
    unicode-bidi: embed;
    width: 500px;
    word-spacing: 0px;
    writing-mode: horizontal-tb;
}
.mailRegister > label{
    color: rgb(140, 140, 140);
    cursor: default;
    direction: ltr;
    font-family: "Netflix Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 15.179057px;
    font-weight: 427.25;
    height: 19px;
    left: -490px;
    letter-spacing: normal;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    text-align: right;
    position: relative;
    width: 110.84375px;
}
.mailRegisterButton > button{
    -webkit-user-select: none;
    align-items: center;
    appearance: button;
    background-color: rgb(229, 9, 20);
    background-image: linear-gradient(rgb(229, 9, 20), rgb(219, 5, 16));
    border-bottom-color: rgb(255, 255, 255);
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 2px;
    border-bottom-style: none;
    border-bottom-width: 0px;
    border-image-outset: 0;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
    border-left-color: rgb(51, 51, 51);
    border-left-style: solid;
    border-left-width: 1px;
    border-right-color: rgb(255, 255, 255);
    border-right-style: none;
    border-right-width: 0px;
    border-top-color: rgb(255, 255, 255);
    border-top-left-radius: 0px;
    border-top-right-radius: 2px;
    border-top-style: none;
    border-top-width: 0px;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 1px 0px 0px;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    cursor: pointer;
    direction: ltr;
    display: inline-flex;
    flex-direction: row;
    font-family: "Netflix Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 30px;
    font-stretch: normal;
    font-style: normal;
    font-variant-caps: normal;
    font-weight: 400;
    height: 70px;
    letter-spacing: normal;
    line-height: normal;
    margin-bottom: 12px;
    margin-left: 0px;
    margin-right: 15px;
    margin-top: 0px;
    min-height: 70px;
    min-width: 74px;
    overflow-x: visible;
    overflow-y: visible;
    padding-bottom: 0px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 0px;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-decoration-line: none;
    text-indent: 0px;
    text-shadow: none;
    text-transform: none;
    vertical-align: middle;
    width: 213.71875px;
    word-spacing: 0px;
    writing-mode: horizontal-tb;
}

.mailRegister{
    text-align: center;
}