.startPageFooterContainer{
    position: relative;
    top: -190px;
    background-color: rgba(0,0,0,0.4);
    width: 100%;
    height: 190px;
    margin-top: 5px;
    padding: 0;
}
.loginPage{
    height: 1px;
}