.startPageFooter{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 900px;
}
.startPageFooterContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 30px;
}

.startPageFooter > .languagePicker {
    align-self: flex-start;
}

.startPageFooter > h1{
    align-self: flex-start;
    color: rgb(115, 115, 115);
    font-size: 18px;
    font-weight: 400;
}

.startPageFooter > p {
    align-self: flex-start;
    color: rgb(115, 115, 115);
    font-size: 14px;
}